<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;">CRUD on food Categories</h3>
    <form id="nameForm" action="/graphql" method="POST">
        <!-- Input field for name -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <!-- Submit button -->
        <input type="submit" value="Submit">
    </form>
    <div style="text-align: center;"><button>Add Category</button></div>
</body>
</html>